@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

#contacto,
#inicio {
    background-image: url("../images/fondo-contacto.png");
    background-size: cover;
}

#proyectos {
    background-image: url("../images/fondo-proyectos.png");
    background-size: cover;
}

#inicio img {
    height: 390px;
}

#inicio img:hover {
    height: 400px;
}

.cohete {
    height: 400px;
}

#inicio p {
    color: white;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: 600;
    padding: 7px 30px;
}

.radius-pro {
    border-radius: 15px;
    border: 1px solid #E20000;
}

.foto-perfil {
    border-radius: 600px;
    max-width: 200px;
    height: auto;

}

h1 {
    color: #E20000;
}

h3 {
    font-size: 14px;
    color: #282828;
    font-weight: 300;
}

#sobre-mi h3 {
    max-height: 100%;
}

p {
    color: #6a6a6a;
}

.btn {
    color: #370a6d;
    background-color: white;
    border: none;
}

.form-control {
    border-radius: 15px;
}

nav .active {
    border: 1px solid #E20000;
    border-radius: 20px;
}

.btn:hover {
    color: white;
    background-color: #370a6d;
}

.btn-descarga {
    padding: .22cm;
    background-color: #E20000;
    color: white;
    font-weight: 100;
    border-radius: 16px;
    text-decoration: white;
    text-align: center;
}

.contenedor-EnviarMSM,
a.letra-contacto {
    padding: .22cm;
    background-color: #E20000;
    color: white;
    font-weight: 100;
    border-radius: 16px;
    text-decoration: white;
    text-align: center;
}

.contenedor-EnviarMSM:hover,
a.letra-contacto:hover {
    background-color: #370a6d;
}

.btn-descarga:hover {
    background-color: #370a6d;
    color: white;
}

footer {
    color: white;
    padding-top: 40px;
}

footer a {
    color: white;
}

footer .fa-github {
    font-size: 30px;
    color: white;
}

footer .fa-linkedin-in {
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}

footer .btn-whatsapp {
    background-color: #370a6d;
    color: white;
    width: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 30px;
    text-align: center;
    padding: 8px 0 15px 0;
    right: 80px;
    position: fixed;
    bottom: 0px;
}

#sobre-mi .fa-whatsapp:before,
#inicio footer a {
    color: white !important;
}

#proyectos footer,
#proyectos footer a,
#inicio footer a,
#sobre-mi footer a {
    color: #E20000;
    font-weight: 300;
}

#proyectos .fa-whatsapp:before,
#contacto .fa-whatsapp:before,
#inicio .fa-whatsapp:before {
    color: white;
}

#proyectos .fa-github::before,
#sobre-mi .fa-github::before {
    color: #E20000;
}

#proyectos .fa-linkedin-in,
#sobre-mi .fa-linkedin-in {
    color: white;
    background-color: #E20000;
    border-radius: 750px;
    padding-top: 3%;
}

.proyecto {
    border: 1px solid rgba(0, 0, 0, .125);
    height: 13cm;
}

#proyectos img {
    max-width: 100%;
    height: 5cm;
}

#proyectos h2 {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    background-color: #E20000;
}

#proyectos p {
    font-size: 14px;
    max-height: 120px;
    height: 100%;
    background-color: white;
}

.btonrojo {
    background-color: #E20000;
    padding: .22cm;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 100;
    display: inline-block;
}

.btonrojo:hover {
    background-color: #370a6d;
    color: white;
}

.link-rojo a {
    color: #E20000;
    text-decoration: none;
}

#tecnologias {
    background: rgba(184, 37, 20, 1);
    background: -moz-linear-gradient(left, rgba(184, 37, 20, 1) 0%, rgba(214, 52, 30, 1) 47%, rgba(240, 47, 23, 1) 70%, rgba(240, 47, 23, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184, 37, 20, 1)), color-stop(47%, rgba(214, 52, 30, 1)), color-stop(70%, rgba(240, 47, 23, 1)), color-stop(100%, rgba(240, 47, 23, 1)));
    background: -webkit-linear-gradient(left, rgba(184, 37, 20, 1) 0%, rgba(214, 52, 30, 1) 47%, rgba(240, 47, 23, 1) 70%, rgba(240, 47, 23, 1) 100%);
    background: -o-linear-gradient(left, rgba(184, 37, 20, 1) 0%, rgba(214, 52, 30, 1) 47%, rgba(240, 47, 23, 1) 70%, rgba(240, 47, 23, 1) 100%);
    background: -ms-linear-gradient(left, rgba(184, 37, 20, 1) 0%, rgba(214, 52, 30, 1) 47%, rgba(240, 47, 23, 1) 70%, rgba(240, 47, 23, 1) 100%);
    background: linear-gradient(to right, rgba(184, 37, 20, 1) 0%, rgba(214, 52, 30, 1) 47%, rgba(240, 47, 23, 1) 70%, rgba(240, 47, 23, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b82514', endColorstr='#f02f17', GradientType=1);
}

#idiomas-hobbies{
    background-color: #eee;
    padding-top: 50px;
}

#idiomas-hobbies .fas{
    font-size: 80px;
    color: white;
}

#idiomas-hobbies .card{
    background-color: #370a6d;
    border-radius: 15px;
    padding: 40px 0;
}

#idiomas-hobbies h2{
    font-size: 16px;
    font-weight: 600px;
}

#idiomas-hobbies ul{
    font-size: 14px;
    color: #282828;
    list-style-type: none;
}

@media (max-width: 750px) {

    #contacto,
    #inicio {
        background-image: url("../images/fondo-proyectos.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    #proyectos {
        background-size: contain;
        background-repeat: no-repeat;
    }

    #inicio p {
        color: #E20000;
        border: 1px solid #E20000;
    }

    .footer, #inicio footer a, #contacto footer a, footer{
        color: #E20000 !important;
        text-align: center;
    }

    #inicio .fa-github::before,
    #contacto .fa-github::before {
        color: #E20000;
    }
}